@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.userIcon_img {
    height: 35px;
}

.menu_icons {
    height: 3vh;
    margin-right: 1vh;
}

.uni_heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #0a78c4;
}

.uni_heading>.text-after-btn {
    padding-left: 20px;
}

.container-fluid>.row.head_wrap {
    margin-right: 0;
    margin-left: 0;
}

.btn-back {
    display: flex;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 200px;
    height: 35px;
    width: 35px;
    -webkit-box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
}

.btn-danger {
    display: flex;
    background-color: #e3342f;
    border-color: #e3342f;
    border-radius: 200px;
    height: 35px;
    width: 35px;
    -webkit-box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
}

.icon-wrapper {
    display: inherit;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-content: center;
    padding: 8px;
}

.row_icon {
    object-fit: contain;
}

.head_wrap {
    justify-content: space-between;
    padding: 20px 0 10px;
}

.color-skyBlue {
    height: 80vh !important;
    background: rgb(49, 186, 235);
    background: linear-gradient(180deg, rgba(49, 186, 235, 1) 10%, rgba(180, 231, 240, 1) 100%);
}

.group_img {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 16vh;
    object-fit: contain;
}

.outbill_img {
    display: flex;
    object-fit: contain;
    position: absolute;
    height: 35vh;
    right: 0;
    bottom: 0;
}

.pending_img {
    display: flex;
    object-fit: contain;
    position: absolute;
    height: 20vh;
    right: 0;
    margin-right: 6vh;
    margin-top: 10vh;
}

/* Page Button */

.page-button-Text {
    font-size: 13px;
    color: #ffffff;
}

.page-button-Icon {
    height: 3vh;
    padding-left: 1vh;
}

.page-Button {
    display: flex;
    color: #fff;
    background-color: #b145e9;
    border-color: #2176bd;
    border-radius: 20px;
    border-width: 2px;
    height: 5vh;
    min-width: 90px;
}

/* //// */

.pay-margin {
    margin-left: 2vh;
}

.print-text-margin {
    margin-left: 2vh;
}

.color-next {
    background-color: #F6FBFF !important;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(180, 210, 235, 0.8);
}

.x_img {
    height: 2.5vh;
    padding-left: 2vh;
}

.payment_pay_buttons {
    display: flex;
}

.total_rm {
    display: flex;
    background-color: #93E4D1;
    justify-content: space-between;
    width: 17vw;
    max-width: 300px;
    padding: 8px 15px 0px;
    margin-left: auto;
}

.upload-slip-text {
    color: #a06af6;
}

.upload_slip_text {
    color: #a06af6;
}

.submit_button_wrap {
    display: flex;
}

.download_print {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 2vh;
}

.download-margin {
    margin-left: 3vh;
}

.header_receipt {
    display: flex;
    margin: 2vh;
}

.back_img {
    height: 3vh;
    margin-right: 1vh;
}

.nav-left-sidebar .submenu {
    padding-left: 0;
    padding-right: 0;
    background: #f1f9fb;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    color: #0055B7;
    border-radius: 2px;
    background-color: #E4F0FE;
}

.card_title {
    color: #0a78c4;
    margin-top: 2vh;
    margin-left: 3vh;
    font-weight: 600;
}

.upload_icon {
    height: 3vh;
    padding-left: 1vh;
    margin-top: 3px;
}

.submit-pay {
    width: 8vw;
    height: 5vh;
    display: flex;
    background: #a06af6;
    border-radius: 3vh;
    margin-top: 5vh;
}

/* popup CSS */

.popup-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
}

.popup-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000a4;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
    animation: fade-in 0.4s ease forwards;
}

.popup-container {
    position: relative;
    align-self: center;
    display: grid;
    z-index: 999999;
    animation: pop-in 0.4s ease forwards;
}

.popup-file-upload {
    display: flex;
    background-color: #e3f0ff;
    height: 5vh;
    width: 55vh;
    border-radius: 3vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 4vh;
    margin-bottom: 6vh;
    box-shadow: -2px 4px 2px 0px rgb(72 124 159 / 37%);
}

.popup-title {
    margin-top: 2vh;
    margin-left: 2vh;
    color: #0a78c4;
    font-weight: 600;
}

.close-icon-wrapper {
    position: absolute;
    right: -40px;
    height: 20px;
    width: 20px;
    object-fit: contain;
    display: flex;
}

.upload-payslip {
    background: #ffffff;
    border-color: #a06af6;
    width: 8vw;
    height: 5vh;
    border-radius: 3vh;
    min-width: 90px;
}

.file-choose-text {
    font-size: 13px;
    font-weight: 300;
    margin: 1vh;
}

.upload_slip_btn {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #a06af6;
    width: 14vw;
    height: 5vh;
    border-radius: 20px;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
    color: #2570C675;
    font-weight: 600;
    font-size: 12px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
    display: flex;
    background-color: #E4F0FE;
    color: #0055B7;
    border-radius: 2px;
    font-weight: 600;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link {
    font-size: 14px;
    padding: 6px 8px;
    transition: 0.3s;
    display: flex;
}

.nav-user-info {
    background-color: #5969ff;
    line-height: 1.4;
    padding: 12px;
    color: #fff;
    font-size: 13px;
    border-radius: 0.25rem;
}

.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #0a78c4;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
}

.bg-primary {
    background-color: #0073F0 !important;
}

.back-house-image {
    display: flex;
    position: absolute;
    width: 100%;
    object-fit: none;
    height: 100vh;
}

/* TABLE */

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
    border-left-style: none;
    border-right-style: none;
}

tbody {
    background-color: #ffffff;
}

.table thead th, .table th {
    color: #ffffff !important;
    font-weight: 500;
    vertical-align: middle !important;
    padding: 0 15px;
}

.table-sm th, .table-sm td {
    padding: 3px 1rem;
    font-weight: 500;
}

.table-bordered {
    border: none;
}

.bg-info {
    background-color: #6cb2eb !important;
    height: 45px;
}

/* /////// */