@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.userIcon_img {
    height: 35px;
}

.menu_icons {
    height: 3vh;
    margin-right: 1vh;
}

.uni_heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #0a78c4;
}

.uni_heading>.text-after-btn {
    padding-left: 20px;
}

.container-fluid>.row.head_wrap {
    margin-right: 0;
    margin-left: 0;
}

.btn-back {
    display: flex;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 200px;
    height: 35px;
    width: 35px;
    -webkit-box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
}

.btn-danger {
    display: flex;
    background-color: #e3342f;
    border-color: #e3342f;
    border-radius: 200px;
    height: 35px;
    width: 35px;
    -webkit-box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
}

.icon-wrapper {
    display: inherit;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-content: center;
    padding: 8px;
}

.row_icon {
    object-fit: contain;
}

.head_wrap {
    justify-content: space-between;
    padding: 20px 0 10px;
}

.color-skyBlue {
    height: 80vh !important;
    background: rgb(49, 186, 235);
    background: linear-gradient(180deg, rgba(49, 186, 235, 1) 10%, rgba(180, 231, 240, 1) 100%);
}

.group_img {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 16vh;
    object-fit: contain;
}

.outbill_img {
    display: flex;
    object-fit: contain;
    position: absolute;
    height: 35vh;
    right: 0;
    bottom: 0;
}

.pending_img {
    display: flex;
    object-fit: contain;
    position: absolute;
    height: 20vh;
    right: 0;
    margin-right: 6vh;
    margin-top: 10vh;
}

/* Page Button */

.page-button-Text {
    font-size: 13px;
    color: #ffffff;
}

.page-button-Icon {
    height: 3vh;
    padding-left: 1vh;
}

.page-Button {
    display: flex;
    color: #fff;
    background-color: #b145e9;
    border-color: #2176bd;
    border-radius: 3vh;
    height: 5vh;
}

/* //// */

.color-next {
    background-color: #f5feff !important;
}

.x_img {
    height: 2.5vh;
    padding-left: 2vh;
}

.payment_pay_buttons {
    display: flex;
}

.total_rm {
    display: flex;
    background-color: #27dab1;
    justify-content: space-evenly;
    width: 25vw;
    padding-top: 1vh;
}

.upload-slip-text {
    color: #a06af6;
}

.submit_button_wrap {
    display: flex;
}

.receipt_total_rm {
    display: flex;
}

.download_print {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 2vh;
}

.download-margin {
    margin-left: 3vh;
}

.header_receipt {
    display: flex;
    margin: 2vh;
}

.back_img {
    height: 3vh;
    margin-right: 1vh;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #0a78c4;
}

.nav-left-sidebar .submenu {
    padding-left: 12px;
    padding-right: 12px;
    /* margin-top: 5px; */
    background: #cdf0f7;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    color: #0a78c4;
    border-radius: 2px;
    background-color: #a9d1d8;
}

.card_title {
    color: #0a78c4;
    margin-top: 2vh;
    margin-left: 3vh;
    font-weight: 600;
}

.upload_icon {
    height: 3vh;
    padding-left: 1vh;
    margin-top: 3px;
}

.submit-pay {
    width: 8vw;
    height: 5vh;
    display: flex;
    background: #a06af6;
    border-radius: 3vh;
    margin-top: 5vh;
}

/* popup CSS */

.popup-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
}

.popup-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000a4;
    z-index: 1000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
    animation: fade-in 0.4s ease forwards;
}

.popup-container {
    position: relative;
    align-self: center;
    display: grid;
    z-index: 999999;
    animation: pop-in 0.4s ease forwards;
}

.popup-file-upload {
    display: flex;
    background-color: #e3f0ff;
    height: 5vh;
    width: 55vh;
    border-radius: 3vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 4vh;
    margin-bottom: 2vh;
    box-shadow: -2px 4px 2px 0px rgb(72 124 159 / 37%);
}

.close-icon-wrapper {
    position: absolute;
    right: -40px;
    height: 20px;
    width: 20px;
    object-fit: contain;
    display: flex;
}

.upload-payslip {
    background: #ffffff;
    border-color: #a06af6;
    width: 8vw;
    height: 5vh;
    border-radius: 3vh;
}

.file-choose-text {
    font-size: 13px;
    font-weight: 300;
    margin: 1vh;
}

.upload_slip_btn {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #a06af6;
    width: 14vw;
    height: 5vh;
    border-radius: 3vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:active {
    color: #0a78c4 !important;
    background-color: #b4e7f0;
    border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover {
    color: #0a78c4 !important;
    background-color: #b4e7f0;
    border-radius: 2px;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #0a78c4;
    background-color: #b4e7f0;
}